[2021-01-29 12:50] agarwal-mudit opened #451 "cephfs: RetainSnapshots flag is not passed properly"
Looks like "--retain-snapshots" flag is not getting set using go-ceph API**
https://github.com/ceph/ceph-csi/issues/1845

[2021-01-29 12:51] agarwal-mudit commented on #451
cc @madhu-1 @nixpanic

[2021-01-29 12:52] agarwal-mudit commented on #451
@phlogistonjohn Sorry for opening single issue for multiple things. Will send separate PRs.

[2021-01-29 13:18] agarwal-mudit commented on #451
Today, we ignore BytesQuota if it is infinite ([here](https://github.com/openshift/ceph-csi/blob/bccd5cef46044151443dab5d58bf0f7d04e334a0/internal/cephfs/volume.go#L109)). We can also ignore if it is nil (in case where subvolume is deleted with retained snapshots) to solve https://github.com/ceph/ceph-csi/issues/1845 or we can check state field and if it is "snapshot-retained" then we can ignode b

[2021-01-29 14:26] phlogistonjohn commented on #451
Sorry, but I am having a bit of trouble parsing this issue.
First off, are there three (or more) independent issues here? If so, we really ought to have three issues (one for problem).

Hmmm? Are you saying that state is missing? That shouldn't be a huge issue to add but if it is missing it might be because its not present on all ceph versions we support. Have you checked to see if it is available

[2021-01-29 14:30] phlogistonjohn commented on #451
Looking at the unit tests that exercise subvolume info, none of them have a "state" field. I suspect this was added in a backport and we weren't told about it. :-(

[2021-02-01 06:42] agarwal-mudit opened #453 "cephfs: SubVolumeInfo structure doesn't have "state" attribute for the subvolume"
****SubVolumeInfo** structure doesn't have "**state**" attribute for the subvolume****

If you run "ceph fs subvolume info" command it displays attributes for a subvolume, for example:

sh-4.2# ceph fs subvolume info myfs m1
{
    "atime": "2021-01-29 12:29:28",
    "bytes_pcent": "undefined",
    "bytes_quota": "infinite",
    "bytes_used": 0,
    "created_at": "2021-01-29 12:29:28",
    "ctime":

[2021-02-01 06:44] agarwal-mudit opened #454 "cephfs: Deleted subvolume (with retained snapshots) doesn't display all the attributes."
This is actually a Ceph feature that when you delete a subvolume with --retain-snapshots command and then run the subvolume info" on the same volume it will return only very limited attributes.

Example:
sh-4.2# ceph fs subvolume info myfs csi-vol-6ed1eaac-622c-11eb-8f93-0242ac110010 csi
{
    "features": [
        "snapshot-clone",
        "snapshot-autoprotect",
        "snapshot-retention"

[2021-02-01 06:45] agarwal-mudit commented on #451
Opened https://github.com/ceph/go-ceph/issues/454 and #453

[2021-02-01 12:20] phlogistonjohn commented on #451
Now that the issues are split apart I'll close this issue as #452 has been merged.

[2021-02-01 12:20] #451 closed

[2021-02-01 12:27] agarwal-mudit commented on #453
@phlogistonjohn I am adding state field in the SubVolumeInfo structure. We should handle the case where the state field is not present in the json. But I think if the field is not present in the json it won't affect us as of today because we no where check whether all the fields are returned or not.
For example if a subvolume is in snapshot-retained state we will only get 4 attributes:
{
    "feat

[2021-02-01 14:13] phlogistonjohn commented on #453
That's fine. We should just ensure that we have a sensible zero value for the field and that both the present and missing cases get tested.

[2021-02-02 15:29] #453 closed

[2021-02-02 15:48] #417 closed

[2021-02-04 07:38] #423 closed

[2021-02-08 15:29] #418 closed

[2021-02-09 18:05] phlogistonjohn commented on #412
This has been resolved in PRs #411 and #441.

[2021-02-09 18:05] #412 closed

[2021-02-09 18:19] phlogistonjohn opened #458 "Test against ceph pacific release"
If my info is correct, and it probably isn't, some time soon (March), ceph pacific will be released. Once there are ceph container images built for pacific we should start testing with them.

[2021-02-09 18:20] phlogistonjohn commented on #262
Once ceph pacific is released the use of multiple file systems will be fully supported in ceph. It's probably worth spending some extra effort getting this supported once we start testing against pacific.

[2021-02-09 18:23] phlogistonjohn commented on #454
@agarwal-mudit can we close this? Or is there more work to do outside of issues #451 and #453. It's not clear to me.

[2021-02-10 03:53] agarwal-mudit commented on #454
Yeah, I guess users need to take care of this rather fixing it in the library.

[2021-02-10 03:53] #454 closed

[2021-02-10 15:19] Madhu-1 opened #460 "Add support to get rbd mirror image status"
This request is specific to a single API mentioned in https://github.com/ceph/go-ceph/issues/393

go-ceph does not support the `rbd mirror image status` to check the status of the image. This will help to check the Resync status of an image.

sample output

[code]

[2021-02-10 15:19] Madhu-1 commented on #460
cc @phlogistonjohn @agarwal-mudit

[2021-02-15 15:27] phlogistonjohn commented on #460
So this command appears to be based on different API functions depending on which ceph release is in use.
In nautilus this is image.mirror_image_get_status and in octopus this is image.mirror_image_get_global_status. These are C++ functions, there are C equivalents rbd_mirror_image_get_status & rbd_mirror_image_get_global_status. The functions also appear to make usre of the function to get the in

[2021-02-17 15:02] Madhu-1 commented on #460
@phlogistonjohn mainly looking at the below 3 fields in the status

[code]
the state is the important one for now. good to have description and last_update.

[2021-02-17 15:05] phlogistonjohn commented on #460
Great thanks. I think state will be fairly reasonable. The "json" part of description may be tricky but we can look into it.
It helps a lot to know you're not looking for the "peer_sites" part ATM.

[2021-02-19 00:53] #424 closed

[2021-03-15 13:38] phlogistonjohn commented on #458
https://github.com/ceph/ceph-container/releases/tag/v6.0.0rc1

In theory we should be able to start testing against pacific. I am not going to jump on this right away due to other higher priority tasks, but others are welcome to if there's interest.

[2021-03-15 13:42] phlogistonjohn opened #469 "CI failing on nautilus"
It appears issues with the ceph backporting process or build process allowed an error to slip through that causes the cephfs volumes module in the mgr to fail to load. This in turn prevents the various subvolume and subvolume group tests in our CI from working correctly. Once the issues is resolved and a new ceph container image for nautilus is built this issue should be resolved.

https://tracker

[2021-03-17 14:14] Madhu-1 opened #470 "Provide string representation for mirroring modes"
https://github.com/ceph/go-ceph/blob/d75b75fb752bd189bcc476e111bd66290c58ab33/rbd/mirror.go#L26-L31 represents the mirroring mode in int format. currently, cephcsi cannot provide this int format to the user in response as it's not much help. if we have string representation it would be nicer for a user to check what is the current state.

[2021-03-17 14:15] Madhu-1 commented on #470
cc @phlogistonjohn @nixpanic

[2021-03-17 15:57] phlogistonjohn commented on #470
Sure. Making the MirrorMode type meet the Stringer interface should be no major issue.

[2021-03-17 18:26] phlogistonjohn commented on #458
Running the CI tests on pacific currently fails. I filed the following issue with ceph:
https://tracker.ceph.com/issues/49873

[2021-03-17 18:56] phlogistonjohn opened #472 "Need to bump Go version used for CI test containers"
Now that Go 1.16 is out Go 1.14 is no longer supported. If we stick with the policy of supporting all the current Go versions we should switch the containers to Go 1.15.

[2021-03-19 11:23] #470 closed

[2021-04-13 13:36] mzimmerman opened #478 "monitor cephfs for changed/added files/directories"
Is there any API that allows me to monitor or poll cephfs for a list of the changed/added files since X time?  Currently, I walk the file system looking for those things, but that's expensive to the MDS as we have a lot of files and since I'm polling often, the MDS constantly has to keep that information in memory.

[2021-04-13 14:34] phlogistonjohn commented on #478
Oh, like a sort of inotify kind of interface in libcephfs? I don't currently know of such a thing, and looking over the list of functions in libcephfs.h I don't see anything clearly related to that topic.  I know for sure we don't have something like that in go-ceph.

It's certainly an interesting idea, so I encourage you to bring it up with the core ceph team. If they can suggest a specific api t

[2021-04-13 15:03] phlogistonjohn commented on #469
This has been resolved in ceph for a while now. But I forget to follow up on stuff. Closing.

[2021-04-13 15:03] #469 closed

[2021-04-13 15:04] #460 closed

[2021-04-13 15:05] phlogistonjohn commented on #427
I think we have a rough consensus (see above). There's no need to keep this open any longer.

[2021-04-13 15:05] #427 closed

[2021-04-14 15:10] phlogistonjohn opened #481 "Missing rbd API components: rbd_mirror_image_global_status_list"
The rbd API implements function(s) below but go-ceph does not:
* rbd_mirror_image_global_status_list
* rbd_mirror_image_global_status_list_cleanup

This issue has been filed to track implementing this missing
functionality in the appropriate package within go-ceph.
Please refer to the Ceph C API for details about the function(s)
in question.

NOTE: This issue was generated by a script.
If the cont

[2021-04-14 15:10] phlogistonjohn opened #482 "Missing rbd API components: rbd_mirror_image_info_list"
The rbd API implements function(s) below but go-ceph does not:
* rbd_mirror_image_info_list
* rbd_mirror_image_info_list_cleanup

This issue has been filed to track implementing this missing
functionality in the appropriate package within go-ceph.
Please refer to the Ceph C API for details about the function(s)
in question.

NOTE: This issue was generated by a script.
If the content looks wrong or

[2021-04-14 15:11] phlogistonjohn opened #483 "Missing rbd API components: rbd_mirror_image_instance_id_list"
The rbd API implements function(s) below but go-ceph does not:
* rbd_mirror_image_instance_id_list
* rbd_mirror_image_instance_id_list_cleanup

This issue has been filed to track implementing this missing
functionality in the appropriate package within go-ceph.
Please refer to the Ceph C API for details about the function(s)
in question.

NOTE: This issue was generated by a script.
If the content

[2021-04-14 15:11] phlogistonjohn opened #484 "Missing rbd API components: function rbd_mirror_image_status_summary"
The rbd API implements function(s) below but go-ceph does not:
* rbd_mirror_image_status_summary

This issue has been filed to track implementing this missing
functionality in the appropriate package within go-ceph.
Please refer to the Ceph C API for details about the function(s)
in question.

NOTE: This issue was generated by a script.
If the content looks wrong or the wording seems a bit odd
ple

[2021-04-14 15:11] phlogistonjohn opened #485 "Missing rbd API components: mirror peer bootstrap"
The rbd API implements function(s) below but go-ceph does not:
* rbd_mirror_peer_bootstrap_create
* rbd_mirror_peer_bootstrap_import

This issue has been filed to track implementing this missing
functionality in the appropriate package within go-ceph.
Please refer to the Ceph C API for details about the function(s)
in question.

NOTE: This issue was generated by a script.
If the content looks wron

[2021-04-14 15:11] phlogistonjohn opened #486 "Missing rbd API components: mirror peer site"
The rbd API implements function(s) below but go-ceph does not:
* rbd_mirror_peer_site_add
* rbd_mirror_peer_site_get_attributes
* rbd_mirror_peer_site_list
* rbd_mirror_peer_site_list_cleanup
* rbd_mirror_peer_site_remove
* rbd_mirror_peer_site_set_attributes
* rbd_mirror_peer_site_set_client_name
* rbd_mirror_peer_site_set_direction
* rbd_mirror_peer_site_set_name

This issue has been filed to tr

[2021-04-14 15:11] phlogistonjohn opened #487 "Missing rbd API components: mirror site name"
The rbd API implements function(s) below but go-ceph does not:
* rbd_mirror_site_name_get
* rbd_mirror_site_name_set

This issue has been filed to track implementing this missing
functionality in the appropriate package within go-ceph.
Please refer to the Ceph C API for details about the function(s)
in question.

NOTE: This issue was generated by a script.
If the content looks wrong or the wording

[2021-04-14 15:11] phlogistonjohn opened #488 "Missing rbd API components: function rbd_mirror_uuid_get"
The rbd API implements function(s) below but go-ceph does not:
* rbd_mirror_uuid_get

This issue has been filed to track implementing this missing
functionality in the appropriate package within go-ceph.
Please refer to the Ceph C API for details about the function(s)
in question.

NOTE: This issue was generated by a script.
If the content looks wrong or the wording seems a bit odd
please excuse t

[2021-04-17 04:44] RobotHuang opened #489 "Fatal error appears when SetOmap is called"
I call `SetOmap` like below:
[code]
When I call `SetOmap`, it shows:
[code]
ceph version: nautilus

[2021-04-17 12:41] phlogistonjohn commented on #489
Thanks for the report. That certainly does not look like intended behavior.

What Go (golang) version are you using?

If you are able and willing to patch your local copy of go-ceph, can you try applying the following patch and reporting if the behavior changes?

[code]

[2021-04-17 12:43] RobotHuang commented on #489
This is my go version: `go version go1.14.2 gccgo (GCC) 10.1.0 linux/amd64`
I will try to do it, thanks.

[2021-04-17 12:52] RobotHuang commented on #489
I find that it is a problem about go version. When I use `go1.16.2 linux/amd64`, it could run successfully.

[2021-04-17 13:53] phlogistonjohn commented on #489
Ah, thanks for looking into that. We have not tested with gccgo, and do not have plans to support it at the moment. If you can stick with Go's default compiler (gc) and supported versions of Go, may we close this issue?
Thanks!

[2021-04-17 14:18] RobotHuang commented on #489
Yeah, thanks a lot.

[2021-04-17 14:18] #489 closed

[2021-04-24 15:05] oct28-yjkim commented on #176
If no one proceeds, could I proceed?

I am newbee.

[2021-04-24 16:33] phlogistonjohn commented on #176
Certainly, I'd love to see someone take this up.

Let me know if you would like to have a more detailed discussion about the design aspects. We can take that up here, use the github discussions feature, or you can often find me on the ceph devel irc (see our readme for details) during 9am-5pm US/Eastern.

Otherwise feel free to jump right in with a PR. If you want more incremental feedback feel we

[2021-05-02 12:08] yjkim1-ntels commented on #176
@phlogistonjohn
I am looking at the API while making some development related settings.

I agree with your way of proceeding.

What I don't understand is that the point of the problem in this issue is the wrong API design?

Is it possible to simply transfer the Set API to the package of rbd?

I would like to hear a little more material from the case discussed in the issue.

[2021-05-03 00:33] oct28-yjkim commented on #176
@phlogistonjohn How would you solve it?

In my opinion, I think how to transfer the Set API to the rbd package.

[2021-05-03 13:41] phlogistonjohn commented on #176
I would start by adding a new method to the Image. Something like `func (image *Image) SetSnapshot(name string) error`. Then I would replace the current `Set()` call on Snapshot to call `snapshot.image.SetSnapshot(...)`. And mark `Set()` as deprecated.
We'd also need a `Name()` function as the name of the snapshot in the `Snapshot` type is private.

One thing I would consider, but I don't have a f

[2021-05-03 16:55] #484 closed

[2021-05-05 16:25] phlogistonjohn commented on #262
I missed this but PR #480 apparently referenced the wrong issue number by accident. Reopening this one.

[2021-05-05 16:25] phlogistonjohn commented on #256
Closed by PR #480

[2021-05-05 16:25] #256 closed

[2021-05-10 11:45] arykalin opened #500 "image.ListLockers() does not refresh info about locks"
Hi, I have following code to wait there is not locker on image:

[code]

But when there're no lockers left, as I saw in rbd cli image.ListLockers() still showing locks

cli at the start of the loop:
[code]

ceph-go at the start of the loop
[code]

After some time rbd cli check:
[code]

But ceph-go still show lockers:
[code]

Steps to reproduce:
1. lock rbd image
2. open image in ceph-go
3. list lo

[2021-05-10 13:09] phlogistonjohn commented on #500
I vaguely remember something about this and it may be related to showing you the image that you opened and am using for the ListLockers call.  What function are you using to open the image?  If you're not already using it, does using OpenImageReadOnly change the behavior at all?

Also CC @nixpanic for any other ideas.

[2021-05-18 11:31] rajatsing commented on #488
^^ @phlogistonjohn
I can take this but after reading about it, I could not find many contexts about it, can you please give me some context over it?.
I read this https://docs.ceph.com/en/latest/rbd/rbd-mirroring/ but cannot find any information on `rbd_mirror_uuid_get`.

[2021-05-18 20:40] phlogistonjohn commented on #488
Certainly!

Yeah, that's "user facing" or "admin facing" docs, we're working with the API directly and I never found formal docs for that.

One "shortcut" that I frequently use to help me think about how to wrap a function like this is to take a look at ceph's own python bindings in tree. In this case that'd be https://github.com/ceph/ceph/blob/77edcfdcdd732ce75987035a46d8c9a560e57b34/src/pybind/r

[2021-05-26 14:36] phlogistonjohn opened #508 "rgw/admin: Provide an interface for debug logging"
Currently, the deubugging support in rgw/admin is directly connected to golang's log module. However, this library can and will be used from processes that have their own ideas about logging. We should decouple our library from any particluar logging lib by providing a simple interface. I see two choices:

1. Provide an interface that supports log methods we use:
[code]
This would need to set on t

[2021-05-26 14:36] phlogistonjohn commented on #508
I prefer option 2, but do realize it can seem a bit too abstract. However, it proved very useful when we did something similar in the heketi project FWIW.

[2021-06-01 09:56] #487 closed

[2021-06-01 11:06] #396 closed

[2021-06-03 14:42] #485 closed

[2021-06-08 12:20] #481 closed

[2021-06-08 14:01] #488 closed

[2021-06-08 14:27] phlogistonjohn commented on #444
This appears to be available in pacific -  https://docs.ceph.com/en/pacific/dev/cephfs-mirroring/ -  we should start working on getting some of this in for the v0.11 release.  AFAICT most of the work ought to occur in the cephfs admin package.

[2021-06-08 14:36] phlogistonjohn commented on #398
I think this is done. If there are parts of CLI command that the currently wrapped API functions don't cover please let us know. Thanks!

[2021-06-08 14:36] #398 closed

[2021-06-11 15:17] leseb commented on #508
I think I'll have to bring `type HTTPClient interface {}` once I start working on a MockClient for the `rgwadmin` package. But agree it won't be straightforward for consumers compared to the `Logger`.

[2021-06-11 18:40] phlogistonjohn commented on #508
We could prove a copy and paste-able example tho. :-)

[2021-06-17 20:48] phlogistonjohn opened #516 "rbd/admin: add calls to manage rbd tasks"
the `ceph` cli tools supports commands like:
* ceph rbd task add remove <img>
* ceph rbd task add flatten <img>
* ceph rbd task list [id]
* etc...

These can be done via the "json command" api for the mgr. We can support that functionality in rbd/admin.

[2021-06-17 20:50] phlogistonjohn opened #517 "rbd/admin: add calls to manage trash purge schedules"
Trash purge schedules work much like mirror snapshot schedules. We can support these functions in rbd/admin.

[2021-06-18 04:05] Madhu-1 commented on #516
* `ceph rbd add task trash remove` Adding this command will also be helpful for ceph-csi

[2021-06-22 13:17] mfatemipour opened #521 "create subuser in rgw"
hi, Is there any api to create subuser in rgw admin ?

[2021-06-22 14:19] phlogistonjohn commented on #521
I don't think that's implemented yet, however it sounds like if your interested in using it via go-ceph that would be a good feature request.

CCing @leseb who's leading the effort on rgw admin.

[2021-06-22 14:42] leseb commented on #521
@mfatemipour Hello, next time please consider using a Discussions thread for questions, we would like to keep Issues for bug report or feature request :).

Just like @phlogistonjohn mentioned the go-ceph project does not support creating subuser's yet.
Thanks!

[2021-06-25 01:11] #500 closed

[2021-06-25 06:36] Madhu-1 opened #522 "Add String Method to admin.LevelSpec struct"
the `spec` field of the admin.LevelSpec is not exposed https://github.com/ceph/go-ceph/blob/4298c2bd0e9a77ae8161be6918d474c88a442405/rbd/admin/admin.go#L25 add a  `String` method to the LevelSpec which helps for both logging and the comparison when someone lists the snapshot schedules using https://github.com/ceph/go-ceph/blob/4298c2bd0e9a77ae8161be6918d474c88a442405/rbd/admin/msschedule.go#L62

[2021-06-25 06:36] Madhu-1 commented on #522
cc @phlogistonjohn @nixpanic

[2021-06-28 07:08] nixpanic commented on #522
@Madhu-1 is there a particular format or details that you would like to see included?

For comparing, are you interested in sorting like time `Before()` and `After()`, or just an `Equals()` call?

[2021-06-28 13:19] phlogistonjohn commented on #522
the "interior" type of a LevelSpec is a string, I suspect that @Madhu-1 just wants to be able to "see" that string.

As for comparison I hadn't even noticed the "and the comparison" part of @Madhu-1's request until you pointed it out @nixpanic. I don't know if there's a strong need to make these comparable but if there is let me know. I think adding a String method will suffice for "eyeballing" th

[2021-06-28 13:24] Madhu-1 commented on #522
and also adding `Equals()` will also make the things simple to compare the startTime,interval

[2021-06-30 20:16] phlogistonjohn opened #526 "Investigate switching to ceph/ceph images for CI"
As per https://github.com/ceph/ceph-container/issues/1899#issuecomment-871644412 it may be that ceph/ceph is a better base image for the CI as it is less likely to lag behind a ceph release by days.

Let's make sure it fits our needs and if so, make the switch.

[2021-07-07 04:07] liyang516 opened #529 "How to exec command using go-ceph"
My goal is to execute the following command line：

1. ceph osd pool create k8s 128
2. ceph osd pool application enable k8s rbd
3. rbd pool init k8s
4. ceph auth get-or-create client.kubernetes mon 'profile rbd' osd 'profile rbd pool=k8s' mgr 'profile rbd pool=k8s'

I found function with "create pool" and "pool init"
but I do not found about "pool application enable" and "ceph auth"

Are there rela

[2021-07-08 15:03] phlogistonjohn commented on #529
I'm fairly certain we do not have functions equivalent to 'ceph auth ...' today. I need to research what 'ceph osd pool application enable' does to make a definitive answer but I suspect we don't do that yet either.

Many of the "ceph" commands use an API that exchanges JSON over a rados connection, and as such there are no C apis for these. Traditionally, go-ceph only wrapped the C api but we're

[2021-07-09 03:33] liyang516 commented on #529
Tks，I have already resolve this question. The rados of MonCommand function is very powerful, it can help me achieve the above functions

[2021-07-09 13:00] phlogistonjohn commented on #529
Good to hear. MonCommand is powerful indeed and very general :-)
Since you say the question is resolved, I'll close this issue. Feel free to reopen it if needed.
Do let us know if you find any issues or want specific features of the json-api wrapped in the future!

[2021-07-09 13:00] #529 closed

[2021-07-13 15:18] oct28-yjkim commented on #265
/assign

[2021-07-13 16:27] phlogistonjohn commented on #265
We don't have a bot/automation around non-maintainers getting assignee status. However, I'm happy to play bot today. :-)

[2021-07-26 17:50] phlogistonjohn commented on #508
@leseb it'd be nice if we could tackle this before the release on Aug. 10. If we have any additional points to discuss feel free to do it here.

[2021-07-26 20:08] phlogistonjohn commented on #521
(Following up on things)
@mfatemipour & @leseb is this something we ought to track as an enhancement? If not - shall we close this issue?

[2021-07-26 20:10] phlogistonjohn commented on #393
I think we have sufficient coverage to close this issue now. We have individual issues open for a few remaining gaps in the coverage. Any new APIs or ones we overlooked should be filed as new issues. Thanks!

[2021-07-26 20:10] #393 closed

[2021-07-27 07:23] leseb commented on #521
Eventually yes when the time permits it :)

[2021-07-27 07:37] leseb commented on #508
@phlogistonjohn Sounds good. Even with the new Interface I'm failing to see how we can print dump the request just like we do with `DumpRequestOut()` and dump the response to `Do()` with `DumpResponse()`. Any pointers would be appreciated. Thanks.

[2021-07-27 14:02] phlogistonjohn commented on #521
@leseb it's not clear to me which item you are saying yes to.

[2021-07-27 14:11] leseb commented on #521
I'm saying yes It can be done, it's just not tracked in the roadmap. It's not a large item though. I cannot just promise a timeline for it.

[2021-07-27 15:07] phlogistonjohn commented on #508
I envision something along these lines.

[code]

It doesn't need to be exactly like this but that's roughly the direction I'd head in.

In the example, I created a new PrintfLogger interface as a demonstration of decoupling the logging from the log package itself, however this isn't strictly required if this implementation lives in the tests.

[2021-07-27 15:22] phlogistonjohn commented on #521
Great. I will update the issue with the appropriate label. We generally don't expire feature requests but do eventually expire "questions". But this was unlabeled and in neither category.

We don't require timelines in go-ceph. Plus, so far no one's under any obligation to implement a particular request, but I find value in tracking what's been asked for.  Hope that all makes sense!

[2021-07-27 15:23] leseb commented on #521
Perfect sense!

[2021-07-29 10:17] #508 closed

[2021-08-02 16:39] #482 closed

[2021-08-02 20:26] phlogistonjohn opened #545 "CI error on PrtGuard test"
This is probably a test flake. But it'd be an unusual test flake.

[code]

This was seen on an (unrelated to ptrguard) rbd encryption api run: https://github.com/ceph/go-ceph/pull/542/checks?check_run_id=3223920437
from PR #542 (I'm not sure how long the above link will be viable FWIW).

If we can't reproduce it and simply decide its a flake no worries, but I think its worth a brief investigation

[2021-08-02 20:27] phlogistonjohn commented on #545
@ansiwen assigning this to you as ptrguard creator. Please take a look when convenient, thanks!

[2021-08-03 07:25] #444 closed

[2021-08-05 14:54] ansiwen commented on #522
@Madhu-1 For comparison, there is no need for a `Equal()` method. Structs with un-exported fields can still be compared and are equal, even if the string fields are not "identical" but only equal by value. So if you have  two `LevelSpec` values `ls1` and `ls2` you can simply compare with `ls1 == ls2`. If you need the a sting for logging, without any guarantees or structure, you can simply (like wi

[2021-08-09 08:41] yuvalif opened #547 "[feature] support bucket notification API"
implement the following bucket APIs to manage bucket notifications:
https://docs.ceph.com/en/latest/radosgw/s3/bucketops/#create-notification
https://docs.ceph.com/en/latest/radosgw/s3/bucketops/#delete-notification
https://docs.ceph.com/en/latest/radosgw/s3/bucketops/#get-list-notification

[2021-08-09 08:44] yuvalif opened #548 "[feature] support topic APIs for bucket notifications"
support the topic management APIs:
https://docs.ceph.com/en/latest/radosgw/notifications/#create-a-topic
https://docs.ceph.com/en/latest/radosgw/notifications/#get-topic-attributes
https://docs.ceph.com/en/latest/radosgw/notifications/#delete-topic
https://docs.ceph.com/en/latest/radosgw/notifications/#list-topics

note that these are SNS service APIS (not S3)

[2021-08-09 13:16] phlogistonjohn commented on #547
Thanks! CCing @leseb and @thotz as our experts on rgw for scoping. If either of think it's a good fit for go-ceph we'll label this issues appropriately.

[2021-08-09 13:16] phlogistonjohn commented on #548
Thanks! CCing @leseb and @thotz as our experts on rgw for scoping. If either of think it's a good fit for go-ceph we'll label this issues appropriately.

[2021-08-10 04:48] Madhu-1 commented on #522
@ansiwen yes agree for comparison I have to create two structures. and the way the spec is generated is something different with string concatenation https://github.com/ceph/go-ceph/blob/4298c2bd0e9a77ae8161be6918d474c88a442405/rbd/admin/admin.go#L31-L43 and the main intention was only to compare the LevelSpec.spec with a string, not any other fields (if it gets added in the future).

This is not

[2021-08-10 05:15] thotz commented on #547
Actually @yuvalif is the real expert here. He is part of RGW team and working on https://github.com/rook/rook/pull/8426 in Rook related to this feature

[2021-08-10 06:01] yuvalif commented on #547
without a specific go ceph API we have to use the AWS SDK one: https://pkg.go.dev/github.com/aws/aws-sdk-go@v1.35.24/service/s3#PutBucketNotificationInput

however, this does not include some extensions that we made to the API that works only for the RGW.

[2021-08-10 12:49] ansiwen commented on #522
@Madhu-1 I see, but that's already a first misunderstanding, because if another field would be added, I would expect it to be included in a general `String()` method. So, if you need specific information from that spec field, we might better store the information separately in the value and only create the string on demand. In fact I saw that coming and suggested that in the first place. 😜

[2021-08-10 15:00] phlogistonjohn commented on #522
I agree. I see that a String method would be useful in informational contexts like logging & display (I know, the logging in golang can "peek" into the private fields of a struct but what if I'm building a GUI or something :-) ). But its not something you should expect to be 100% stable wrt the current output if fileds are added and removed.

Now I'm a tad confused, because that's the way it was b

[2021-08-12 14:02] #545 closed

[2021-08-12 18:47] #439 closed

[2021-08-13 02:45] bravelll opened #555 "could not determine kind of name for C.rados_set_pool_full_try"
[root@node1 ceph]# go build  pool.go
# github.com/ceph/go-ceph/rados
/root/odev/src/github.com/ceph/go-ceph/rados/ioctx_octopus.go:23:2: could not determine kind of name for C.rados_set_pool_full_try
/root/odev/src/github.com/ceph/go-ceph/rados/ioctx_octopus.go:35:2: could not determine kind of name for C.rados_unset_pool_full_try

[2021-08-13 11:48] phlogistonjohn commented on #555
Your local version of the ceph may not be "octopus". From the README:

If you are using ceph from packages, you can use the package manager to get the ceph version and then backtrack to the release series code name. So if you are on ceph version 14, that's "nautilus". See this [ceph versions index](https://docs.ceph.com/en/latest/releases/index.html) for more details.

Once you do, use build tags

[2021-08-16 14:26] phlogistonjohn commented on #522
So I just want to double check that we're all in general agreement that adding a String method is not required at this time? If so, we should close this issue and the associated PR.
Please confirm @Madhu-1. Silence will be taken as an implicit ack after a week. :-)

[2021-08-16 14:31] Madhu-1 commented on #522
@phlogistonjohn missed replaying on this one. we don't need this one for now in cephcsi maybe we can add it in future if we get requirement for it.

[2021-08-16 14:31] #522 closed

[2021-08-17 02:14] bravelll commented on #555
thanks!

[2021-08-17 02:14] #555 closed

[2021-08-20 07:46] oct28-yjkim commented on #265
@phlogistonjohn I am not skilled in C related.
Is there anything worth noting?

[2021-08-21 13:27] phlogistonjohn commented on #265
I'd say this should be extremely similar to the version functions in rbd and rados: https://github.com/ceph/go-ceph/blob/1d2ef78c2fc0654028e6d6da822f1cbea8205cd7/rbd/rbd.go#L131  and https://github.com/ceph/go-ceph/blob/1d2ef78c2fc0654028e6d6da822f1cbea8205cd7/rados/rados.go#L57

You can use those as inspiration.

[2021-08-23 06:39] #483 closed

[2021-08-23 14:38] Rakshith-R commented on #516
/assign

[2021-08-29 07:51] elrondwong opened #567 "rados: MonCommand exec "fs authorize" panic"
|Component|version|
|:--:|:--:|
|go ceph|v0.11.0|
|ceph|14.2.21|

exec command `ceph fs authorize cephfs client.user1 /test rw`
- **conn.MonCommand** - **panic**
- **shell** - **completed**
- **c++ API** - **completed**

panic code:

[code]

panic

[code]

[2021-08-29 14:38] phlogistonjohn commented on #567
Hi, thanks for the report.

I'm not sure if this is only in your example code or not, but you're not checking the result from `radosConn` which could possibly lead to an invalid `conn` being used. The backtrace could be indicating that `conn.cluster` is nil.

Alternatively the issue could lie with our command output type. If checking that radosConn returns a valid conn doesn't help could you try a

[2021-08-30 03:03] elrondwong commented on #567
Thanks for your reply.

after patch log:

[code]
`cluster` is `nil`

In this case, i have create `conn` but i have't call `conn.Connect`, cause `cluster` is `nil`, the following code is called completed.

[code]

Apologize for my careless.
Thank you!

[2021-08-30 03:03] #567 closed

[2021-09-03 12:38] mfatemipour opened #568 "Support ceph-dencoder"
Hi, Is there any plan to support decode/encode ceph structs ? like something that we have in ceph-dencoder tool

[2021-09-03 13:15] phlogistonjohn commented on #568
Could you please post links to the features/tools in question?  I'm not familiar with ceph-dencoder and just saying "encode/decode" could mean a lot of different things.

[2021-09-03 14:02] tchaikov commented on #568
@phlogistonjohn hi John, @mfatemipour might be referencing https://github.com/ceph/ceph/tree/master/src/tools/ceph-dencoder

[2021-09-03 14:17] phlogistonjohn commented on #568
OK, I've also now looked at https://docs.ceph.com/en/latest/man/8/ceph-dencoder/ and have a rough idea of what the tool does. Unfortunately, I don't quite see how this fits in the grand scheme of things. Basically: if you would like someone else to implement this for you, we need to understand the use case - the why and the how - this would be used as part of go-ceph.

If you're more interested in

[2021-09-06 15:13] mfatemipour opened #569 "crash when call read on rados object"
Hi,
I setup a sample ceph cluster using ceph-daemon docker image. then creating a bucket and sending a large file to that bucket,
now i want to read one of its corresponding rados objects, the size is 4MB
[code]

this code some times **stuck** and some times **crash**
[code]

I write an equivalent code in python and it works without any issue.

[code]

[2021-09-06 15:28] mfatemipour commented on #568
Actually I want to iterate on some rados objects and get some information about their manifets attribute, but rados get attributes as an encoded byte array, and there is not any programatically way to decode it unless using ceph-dencoder tool (as a exec cmd) that makes every procedure very very slow.

[2021-09-07 11:06] phlogistonjohn commented on #568
Thanks @mfatemipour if I understand it correctly, you want to read data from rados that's not available in an API call and interpret the meaning.

So, we can look into it, but please do understand that if this isn't a fully-fledged C api that ceph provides it may be challenging to implement. I'm tagging this as a feature request now that I think I understand the request.

[2021-09-07 11:38] phlogistonjohn commented on #569
The lines:
[code]
seem to indicate an issue at the ceph layer. There's a value `initialized` that must be false.

Just to double check, because you left it out of your example: did you create a rados connection and call `Connect` on it like you do in your python example?

If the answer is no, please update the code an try again. If the answer is no we need to better understand what sets `initializ

[2021-09-07 15:52] mfatemipour commented on #569
Yes, it was connected
[code]

If i user smaller buffer size for example 4096 bytes, it will work (most of the times) but when buffer size is more than 4MB it never works, sometimes crash and sometimes stuck

[2021-09-08 11:47] iliul opened #572 "compatibility issues between go-ceph@0.10.0 and ceph nautilus v14.2.11"
hi  @ansiwen ,

When i use go-ceph@0.10.0 with ceph nautilus v14.2.11, I got the following error

[code]

I did some searching and found that it is because ceph nautilus v14.2.11 does not include the **FALLOC_FL_KEEP_SIZE** definition in `include/cephfs/ceph_ll_client.h`. This macro definition is introduced from https://github.com/ceph/ceph/pull/41580. I want to ask if it's needed backport this pr

[2021-09-08 11:49] iliul commented on #572
releate to #288 and #507

[2021-09-08 12:00] iliul commented on #568
/cc

[2021-09-08 12:01] ansiwen commented on #572
Hi @iliul, can you please specify on which platform you are building? These issues were only MacOS related.

[2021-09-08 12:05] iliul commented on #572
@ansiwen I am using linux. The strange thing is that my machine has a falloc.h file at `/usr/include/linux/falloc.h`, and after I manually add it to vendor/github.com/ceph/go-ceph/cephfs/file.go the program works. I don’t know why it can’t find those symbols

[2021-09-08 12:16] ansiwen commented on #572
@iliul these macros are Linux only, and they are only defined if `_GNU_SOURCE` is defined before. It seems like there is something unusual in your linux system. What distribution is that?

[2021-09-08 12:20] iliul commented on #572
Thanks. It's a customized operating system based on CentOS Linux release 7.2, I will do some checks.

[2021-09-08 12:41] ansiwen commented on #572
@iliul ok, so first make sure that as specified [here](https://man7.org/linux/man-pages/man2/fallocate.2.html) the macros are defined after

[code]

in a test C program.

[2021-09-08 13:10] ansiwen commented on #569
@mfatemipour I have an idea what the problem could be: Can you please add the following line _after_ the `Read()` line:

[code]

and tell me, if the problem disappears?

Reference: https://pkg.go.dev/runtime#KeepAlive

[2021-09-08 13:13] ansiwen commented on #569
Background: the garbage collector of go runs in a seperate thread, and since `buffer` is not used anymore after the call of the c function, it might get freed during the call. I would consider that as a bug on our side, since we should take care of that inside of the `Read()` function.

[2021-09-08 14:27] phlogistonjohn commented on #569
@ansiwen do you mean `runtime.KeepAlive(buffer)` ?

Now an additional thought unrelated to GC. I looked at the source in pybind for Ceph's python bindings and didn't see much difference and then I checked if python was internally changing the buffer lenth, and saw nothing unusual.  Because of this I wonder if (a) you can reproduce this abort with C and (b) are you using the exact same ceph librari

[2021-09-08 14:58] ansiwen commented on #569
Yes, of course. Fixed.

[2021-09-10 15:02] ansiwen commented on #569
Ok, so after playing around with this: the `KeepAlive()` is _not_ necessary in this case, arguments of Cgo calls are kept alive until the call returns. It is only required, if finalizers of _parent_ objects of the arguments are used, that would fiddle around with the argument. That is, a finalizer on `buffer` could indeed be called before `rados_read()` returns, but the underlying allocated array

[2021-09-10 15:04] ansiwen commented on #569
Another though: which storage backend are you using @mfatemipour? [There are bugs in the memstore backend](https://tracker.ceph.com/issues/50681), so in case you are using that, try it with a "proper" backend as well, please.

[2021-09-13 04:57] iliul commented on #572
@ansiwen Thanks, I found the root cause of the problem, I tried to upgrade the glibc & glibc-headers version from 2.17-196 to 2.17-323 and the problem was solved. 🤣

[2021-09-13 10:46] ansiwen commented on #572
Alright, thanks for the feedback. I'll close this issue then.

[2021-09-13 10:46] #572 closed

[2021-09-13 17:16] ansiwen commented on #569
I tried to reproduce this within our tests, but with no "success". Even with 50MB buffer everything works as expected. No matter if the object is bigger, smaller or the same size. I think without a reliable reproducer we can't do much, because from here it is unclear, in which state the Ceph cluster is in your case. Can you try to reproduce this with a test case, that you run with "make test-conta

[2021-09-13 20:15] phlogistonjohn opened #574 "CI failure: Module 'mirroring' is not enabled"
We're seeing the following test flake somewhat regularly now:

[code]

I suspect that the API that enables modules doesn't guarantee callers will see the module as enabled at return time, thus producing a race between us activating the module and then immediately trying to use it before the mgr is ready to serve requests that make use of the modue.

[2021-09-15 15:48] ansiwen commented on #265
Resolved by #570

[2021-09-15 15:48] #265 closed

[2021-09-17 05:40] oct28-yjkim commented on #517
can i assign this ?

[2021-09-19 06:11] mfatemipour commented on #569
I did my task with python binding. but i will try to reproduce the issue as you said in my free time, thanks for yout replies.

[2021-09-21 13:01] parth-gr commented on #274
//assign

[2021-09-21 14:35] phlogistonjohn commented on #274
This bot is happy to oblige.

[2021-09-29 05:05] Rakshith-R opened #583 "rbd/admin: add support for `ceph rbd migration` api"
the ceph cli tools supports commands like:

ceph rbd migration prepare/execute/commit/abort

These can be done via the "json command" api for the mgr. We can support that functionality in rbd/admin.

Refer https://docs.ceph.com/en/latest/rbd/rbd-live-migration/?highlight=migration

Adding above apis should also enable us to add corresponding  task apis
- rbd task migration [abort|commit|execute]
c

[2021-09-29 05:06] Rakshith-R commented on #516
#577 adds support for flatten, remove and trash remove apis.

support for remaining rbd task migration abort,commit,execute requires `ceph rbd migration` api support first.
Opened #583 for it.

[2021-10-01 08:00] ansiwen opened #584 "Violations of pointer passing rules"
At least at one place we hand over Go pointers to the Ceph API that gonna get stored in a handler registry after the call returns, which violates the pointer passing rules:
https://github.com/ceph/go-ceph/blob/312e4cf6b5cfb02e69768232d0fb0888a7ba51ba/rados/read_op.go#L80-L81
So there is no guarantee that the pointers remain valid.

With the iterator right before:
https://github.com/ceph/go-ceph/bl

[2021-10-01 13:01] phlogistonjohn commented on #584
Fixing this should largely just be a matter of allocating C-memory and storing C-pointers into our structs right?

[2021-10-01 17:06] ansiwen commented on #584
Right. Or allocating the whole struct in C memory, if that is easier.

I think the checker can not do anything in this case, because it only can observe, what is passed to C, which is legal in this case. But it can't really check, what the C code is doing with the pointers. So we always have to be aware of that, to make sure, no ceph API is storing some pointers we are passing to it.

[2021-10-04 14:16] phlogistonjohn opened #588 "Remove old luminous and mimic build tags"
PR #585  revealed how many there are still lingering around.

[2021-10-04 14:39] phlogistonjohn commented on #516
@Rakshith-R should we be able to close this issue if all remaining tasks are tracked in #583?

[2021-10-04 14:43] phlogistonjohn opened #589 "implements: detect if `ceph_preview` build tag is used when a function is documented as preview"
We want to make sure contributors mark new functions as preview to ensure users only use them if needed but we also want to make sure preview features are "gated" behind the `ceph_preview` build tag.

I'm fairly sure the ast module can detect if `ceph_preview` build tag is used, we can then report if the file is set to build with `ceph_preview` and vice versa (and report it in our json output).

[2021-10-04 14:49] phlogistonjohn opened #590 "apiage: don't require a lot of knoweldge about the go-ceph release process"
With the new api stability policy and the new tooling in implements & apiage we're requiring many new contributions to document that an api is preview. The tool wants to ensure that an API  documented as preview has an "added in version" and "expected stable in version". However, right now the tool can only set these strings - a human has to specify what strings to use.

Since most APIs will "age"

[2021-10-04 14:52] phlogistonjohn opened #591 "apiage: detect APIs that should be stable now"
The apiage tool should be able to detect when an API is now ready to be marked stable. For example, we could input the current git tag and if the version number is greater than or equal to the "expected stable in version" value for preview apis the tool would produce an error indicating the APIs should be made stable.

This could also be a specific CI job - running this on PRs would not help contr

[2021-10-04 14:54] phlogistonjohn opened #592 "apiage: add links to documentation"
I had meant to add hyperlinks to the "official" go docs for go ceph when our tool generates the markdown table of deprecated and preview APIs. But I never got around to it. It should be straightforward use of the pkg name and `[<type>.]>func>` after the anchor (`#`)`.

[2021-10-04 14:57] phlogistonjohn opened #593 "document the api stability workflow"
We need to document the workflow we expect contributors to follow when adding a new API. It may not be obvious to everyone and we probably don't want to repeat ourselves a lot. :-)

[2021-10-04 18:05] phlogistonjohn opened #595 "apiage: packages without deprecated/preview apis look odd"
The gernated doc creates headers for every sub-package of go-ceph, but not all sub-packages have deprecated or preview APIs. Instead of just a bunch of headers, if there's no table to add, just put some text like "All APIs considered stable." or some such.

[2021-10-05 05:54] Rakshith-R commented on #516
@phlogistonjohn  sure, I've edited the issue description to include remaining apis, we can close this issue.

[2021-10-05 14:26] gman0 commented on #584
Isn't the byte buffer `writeStep.cBuffer` in write ops susceptible to the same problem as well and might need to be `malloc`'d?

https://github.com/ceph/go-ceph/blob/87f456311866ddf8c65911c4b0226cd5b5e7e4c2/rados/write_step.go#L25-L28

[2021-10-06 10:12] ansiwen commented on #584
Yes, indeed. Thanks! Here we might use PtrGuard to break the rules. Else we need to copy the data.

[2021-10-12 19:53] phlogistonjohn opened #598 "APIs required for fencing clients"
Ceph is going to be getting a way to fence clients. The command is not yet available in any released versions of ceph, but we should be aware of this because there may be interest in using the API equivalent from go-ceph.

https://tracker.ceph.com/issues/53050

[2021-10-15 09:29] tahsinrahman opened #600 "RGW: support get user by access-key"
radosgw-admin supports getting user info by `--uid` and `--access-key` flag
[code]

currently go-ceph only supports getting user by `uid`
for getting user by access-key, client need to pass `access-key=<key>` in the url param

[2021-10-15 10:35] ansiwen opened #601 "Docs on pkg.go.dev don't have preview tag set"
The doc generation doesn't know that we use a preview tag, so all preview APIs are not documented there. We need to investigate, if we can set default tags for docs or something similar.

[2021-10-18 14:28] #600 closed, assigned to leseb

[2021-10-19 09:56] aep opened #604 "could not determine kind of name for C.RBD_ENCRYPTION_ALGORITHM_AES12"
does not compile with ceph 15.2.14

[code]

maybe the ceph libs should be embedded?

[2021-10-19 10:19] #604 closed, assigned to nobody

[2021-10-20 08:43] qiankunli opened #605 "failing to respond to cache pressure client_id"
go-ceph version: v0.8.0

there is a ceph-service pod running in k8s, which use go-ceph to operate cephfs, like(create/delete dir, create/delete dir), but mds report
[code]

Ir  etart  ceph-service ,  mds  is ok,

[2021-10-21 12:38] phlogistonjohn commented on #605
The pleasant coincidence of a ceph mailing list post indicating that nfs-ganesha once encountered similar problems and a bit more searching shows that there is now api hooks intended for managing client cache pressure:
* https://tracker.ceph.com/issues/12334
* https://github.com/ceph/ceph/pull/34596

I also see that there is a newer version: ceph_ll_register_callbacks2

What I'm not clear about is

[2021-10-21 14:17] phlogistonjohn commented on #605
Thanks for the suggestion. Done at https://tracker.ceph.com/issues/53004

OK, thanks for the heads up.  I've already looked over the test C file and that helped somewhat. I'll take a look at some other examples too.

OK, thanks!

Sure. I can look into how both systems use the callback APIs down the road, to help serve as examples.

Yeah, we currently have only bindings for a (good, but incomplete)

[2021-11-01 14:12] phlogistonjohn commented on #526
Was done in PR #566

[2021-11-01 14:12] #526 closed

[2021-11-01 14:31] phlogistonjohn commented on #601
Probably relevant:
https://github.com/golang/go/issues/34409
https://github.com/golang/go/issues/45497

From what I see there's no easy way out. Options that are valid today are pretty limited. I wish the Go ecosystem liked static doc generation more, because then we could host our own version of the documentation with certain build tags enabled or a matrix of ceph version build tags, etc. But rig

[2021-11-01 14:52] phlogistonjohn commented on #601
More searching around wrt to the idea of generating static docs lead me to find
https://github.com/readthedocs/godocjson  and
https://bitbucket.org/ymotongpoo/sphinxcontrib-golangdomain/src/master/
both of which look rather unmaintained.  However, that doesn't necessarily mean they don't work. I haven't tried it.

[2021-11-07 12:04] phlogistonjohn commented on #574
https://github.com/ceph/go-ceph/runs/4128633714?check_suite_focus=true

This just occurred again in the daily CI run. This means the workaround was not sufficient to avoid the problem.

[2021-11-09 01:24] #588 closed

[2021-11-09 02:02] #590 closed

[2021-11-09 02:02] #593 closed

[2021-11-15 06:19] bradfitz commented on #569
I'm hitting this crash now too. I work on @golang so maybe I can help.

Nautilus (via old Proxmox I plan to update after this backup task is done), Bluestore.

Using a pre-release Go 1.18 and `github.com/ceph/go-ceph v0.12.0` in my go.mod.

Usually my program hangs after a bunch of stats, but sometimes it crashes, and it seems to crash more when I build it with the race detector (`go install -race

[2021-11-15 06:20] bradfitz commented on #569
And when it doesn't crash, it hangs forever here: (note the SIGQUIT to make it stop and dump stacks)

[code]

[2021-11-15 14:15] phlogistonjohn commented on #569
Thank you for the report, I bet these will help narrow down the issue!
A few quick questions about your environment, in case it matters:
* Was the ceph server (cluster) side the same version of ceph or something else, and what?
* Was the server side a "real" cluster or a simulated cluster (such as our ceph container)
* Have you tried your reproducer using our test containers, either for the client

[2021-11-15 14:21] phlogistonjohn commented on #569
I should clarify what I mean by our [test containers](https://github.com/ceph/go-ceph/tree/master/testing/containers/ceph) - these are used to drive our CI tests and we also use them for debugging issues, etc.  You can see how it is used by reading the project Makefile. It would be helpful to know if we can or can't use this to reproduce this issue.

Thanks again.

[2021-11-15 15:39] phlogistonjohn opened #611 "cephfs admin: wrap subvolume pinning API"
See https://github.com/ceph/ceph-csi/issues/2637
& ceph/ceph#43896

This is soon-to-be-document CLI (and matching JSON command api) that ceph-csi would like to use. See the above items for details.

[2021-11-15 16:20] bradfitz commented on #569
I'm running against a Nautilus cluster on physical hardware (3 physical servers, 10GB network, etc) and running the crashing Go program one one of those three machines.

I haven't tried any of your test containers but can look when I next get a chance.

I tried building with ASAN (new in Go 1.18) but it didn't report anything.

I also tried sprinkling some `runtime.LockOSThread` calls in places, s

[2021-12-01 10:47] gman0 opened #614 "make api-update is failing"
When running `make api-update`, it fails due to missing `implements.json` file:

[code]

I can't see it running the `implements` tool, it's only being built but never called. After looking around, I found that `impement_tool` in `entrypoint.sh` silently skips running the tool if it can't find `castxml` in `$PATH`.

https://github.com/ceph/go-ceph/blob/20da1c607de4b27632649fdc0f7b96ad92eb3253/entry

[2021-12-01 10:47] gman0 commented on #614
/cc @phlogistonjohn @ansiwen

[2021-12-01 10:49] gman0 commented on #614
https://github.com/CastXML/CastXMLSuperbuild provides pre-built executables in https://data.kitware.com/#collection/57b5c9e58d777f126827f5a1/folder/57b5de948d777f10f2696370. I realize this isn't very nice, but could these be used at least for the time being?

[2021-12-01 10:54] gman0 commented on #614
/kind bug

[2021-12-01 19:20] phlogistonjohn commented on #614
hrm. I thought I had managed to fix the remaining castxml issues.

We're also have a PR replacing the castxml with a different c parsing library, but we have disagreements about how to do the packaging  metadata so it's slowed progress.  Once we make progress on that PR we ought to be able to call this "fixed" by using an alternative approach. Watch this space. :-)

[2021-12-08 13:13] rakeshgm opened #617 "rgw: admin/README.md shows incorrect usage of co.GetUser(...)"
[README.md](https://github.com/ceph/go-ceph/blob/master/rgw/admin/README.md) has incorrect usage of `co.GetUser(...)`

`co.GetUser(..)` has parameters of type `context` and `User`, but the example shows that we need to use a `context` and a `string`  like this, `co.GetUser(context.Background(), "admin")`, which is incorrect.

[reference](https://github.com/ceph/go-ceph/blob/master/rgw/admin/user.g

[2021-12-08 13:27] rakeshgm opened #618 "make test-containers-test fails on centos-8.5"
`make test-containers-test` fails  with `unable to parse addrs in 'test_ceph_a'`. this is happening in centos-8.5
[code]

I am adding the output of the logs
[code]
podman verson:
[code]

[2021-12-08 14:45] phlogistonjohn commented on #617
Thanks. @rakeshgm would you be interested in contributing a doc fix this yourself?  CCing @leseb for awareness.

[2021-12-08 14:48] phlogistonjohn commented on #618
Interesting. The tests rely on the ability to resolve the name of the container to an address. This works for docker and recent versions of podman, but maybe the podman on centos 8 doesn't have this feature?
We may want to document a minimum version of podman to use -- or perhaps figure out a way to do this on older podman versions too?

Regardless, thanks for finding this!

[2021-12-08 18:13] rakeshgm opened #619 "rgw: conn.ListBuckets() gives access denied when used with correct s3 creds"
I want to list all the buckets in a user. I have a small snippet, here

[code]
And when I run this snippet, i allways get
`err2: AccessDenied tx000000000000000000030-0061b0f549-1031-default 1031-default-default`

However, I am able to create buckets and list buckets using boto with the same credentials.

[2021-12-08 18:18] rakeshgm commented on #617
sure @phlogistonjohn , i can contribute, there is one other issue that is blocking me from testing this. once I get clarity on this. I will send the patch. #619

[2021-12-09 17:42] rakeshgm commented on #619
@leseb thanks for the hint,  the user that I created did not have any caps, I then added `--caps="users=*;buckets=*"`
then `conn.ListBuckets()` worked, got buckets list.
but I wonder why list buckets worked from `boto`, `s3cmd` and from `radosgw-admin bucket list --uid <userid>` without the caps

[2021-12-10 08:58] leseb commented on #619
For this `radosgw-admin bucket list --uid <userid>`, the answer is easy, the command is using the admin credentials to list that user's bucket. For boto and s3cmd I don't know, but if no caps were granted it's expected that they don't work.

I'm closing this since the issue has been resolved, thanks!

[2021-12-10 08:58] #619 closed

[2021-12-13 05:47] rakeshgm commented on #617
fix is in this PR  https://github.com/ceph/go-ceph/pull/620

[2021-12-13 13:48] #617 closed

[2021-12-14 18:07] phlogistonjohn commented on #574
PR #610 resolves this.

[2021-12-14 18:07] #574 closed

[2021-12-20 06:55] tareqhs commented on #279
hi, any progress on this?

[2021-12-20 10:49] aep opened #623 "radosstriper"
would it make sense to include the radosstriper api?
i'm a bit confused about the multiple incompatible ways ceph stores things, so i'm hoping at least rados_stripe is compatible with rgw?

[2021-12-20 14:39] phlogistonjohn commented on #279
No, generally you can assume something has not been investigated yet when there's no assignee, other comments or PR.

However, comments like yours help us know there is interest in a feature and help get things prioritized. By the way, what's your use case for this function?

[2021-12-20 14:42] phlogistonjohn commented on #623
Could you link to an example of this API please?  Either code or docs would be suitable.

Also, I'm not clear what you mean by "multiple incompatible ways". Do you mean like rbd vs. cephfs vs. rgw?

[2021-12-20 14:50] aep commented on #623
there's no docs, so i have no idea how it works either. I spotted it when trying to figure out how to access rgw objects without going through the AWS api, which requires a SeekReader.

https://github.com/ceph/ceph/blob/master/src/include/radosstriper/libradosstriper.h

yeah, it's confusing why they're all different implementations on top of rados objects. I'm not sure if radosstriper uses the sam

[2021-12-20 15:21] phlogistonjohn commented on #623
Thanks. It certainly appears that this is designed to help build striped objects on top of rados, but I don't see much that uses it. There are very few PRs I see that refer to it by name. @tchaikov might know a bit more about it as one of the last people to make changes to those files.

They're all trying to meet the needs of different use cases while using rados as a common layer. If they didn't

[2021-12-20 18:33] phlogistonjohn commented on #516
I am eventually consistent. Eventually.

[2021-12-20 18:33] #516 closed

[2021-12-20 21:59] tareqhs commented on #279
@phlogistonjohn We maintain many ceph clusters in the cloud. A dedicated component continuously exports selected RBD images for external long-term storage and imports them back when needed. The lack of rbd-cli-like "export" (both volume contents and metadata) forces us to fork rbd cli processes from go code. Since we have to fork the cli anyway we ended up not using go-ceph at all.
We really want

[2021-12-21 00:40] phlogistonjohn commented on #279
I started looking into this and it doesn't look too challenging. In many ways it's similar to our existing diff iterate support.

However, what's not clear to me is why you need this particular call versus an existing api like Read/ReadAt. I'm guessing it could be related to hole detection but it'd be nice to know for sure if that's the use case.  Regardless, we'll probably add it, but I'm nosy an

[2021-12-21 21:30] phlogistonjohn commented on #279
I've created a preliminary implementation at #624.
At this time I can't reproduce the behavior of hole detection that the function in ceph is noted to have. I'll look into that after the holidays.

In the meantime you may just want to look into using Read and/or ReadAt calls unless you strongly need hole detection at the ceph layer.

[2021-12-21 21:41] tareqhs commented on #279
Thanks for the quick response @phlogistonjohn !

[2021-12-21 21:50] tareqhs commented on #319
Hi @nixpanic, @phlogistonjohn, the export command in rbd cli does not only dump the sparse contents. It produces a file in a special format that also contains the image metadata and diffs.
https://docs.ceph.com/en/pacific/dev/rbd-export/
Is it withinbgo-ceph's scope to have a full implementation of export/import?

[2022-01-06 14:49] ansiwen commented on #569
Hi @bradfitz , thanks for joining the conversation!

I also looked at it for a while skimming the C++ code for any hint, how that assert could fail. But I didn't have any good idea yet, besides general memory access races. I guess it will be very difficult and inefficient to debug this without a reproducer that we can run on demand. Do you have any good idea how to proceed with this?

[2022-01-06 15:00] ansiwen commented on #569
@bradfitz  Oh, and is it possible to install the debug symbols where you run the program? Then we get can see more in this C++ stacktrace. It would also be interesting if the call-paths are different or always the same, when it crashes.

[2022-01-06 16:56] ansiwen commented on #569
BTW: how does the implementation of `check()` look like?

[2022-01-11 17:53] bradfitz commented on #569
Just a:

[code]

[2022-01-11 21:08] phlogistonjohn commented on #279
https://tracker.ceph.com/issues/3619

It appears that the sparse file "hole" detection does not work properly. And it has not for a while.

I can implement it without unit tests to verify hole detection works and "just hope" that ceph rbd team fixes the issue at some point. But I'm not clear if that's valuable to our users.
@tareqhs since you have interest in the API - how important is hole detect

[2022-01-24 20:52] BlaineEXE opened #628 "NFS: feature: NFS Export management API"
I would like to request a new go-ceph API to manage NFS exports. For now, I will start with a loose overview of general needs for the API without specifically defining API functions:
- List NFS exports belonging to a given NFS cluster
- Get detailed information about an NFS export belonging to a given NFS cluster
- Create an export for a given NFS cluster
- Update an export for a given NFS cluster

[2022-01-24 22:02] phlogistonjohn commented on #628
Typically, what we've been doing is to perform the same API calls that the `ceph` cli tool does but without forking/exec'ing the cli. In other words we use the same mon_command & mgr_command APIs with JSON requests and responses - just like `ceph` CLI does under the covers.

Currently, the only parts of go-ceph that make use of HTTP APIs are related to rgw, but if there is a compelling reason to u

[2022-01-24 23:36] BlaineEXE commented on #628
Good to know! As for the `nfs` CLI commands, the important ones are:
- create: https://docs.ceph.com/en/latest/mgr/nfs/#create-cephfs-export
- delete: https://docs.ceph.com/en/latest/mgr/nfs/?#delete-export
- list: https://docs.ceph.com/en/latest/mgr/nfs/?#list-exports
- get: https://docs.ceph.com/en/latest/mgr/nfs/?#get-export

Critically, the NFS CLI **requires** that the Rook orchestrator modul

[2022-01-27 14:22] gman0 commented on #614
Just FYI this is what I'm currently using to get castxml inside the test container:

[code]

[2022-01-27 19:06] phlogistonjohn commented on #628
https://tracker.ceph.com/issues/54043  -- I filed a ceph tracker issue after I briefly discussed this with Sebastian W, @adk3798, and others in a ceph orchestration meeting.

[2022-01-30 18:55] phlogistonjohn commented on #279
It's been over two weeks since I checked up on the requirement to detect "holes".
Based on the non-response I think I will abandon PR #624 since without hole detection it adds very little value on top of the existing read and write calls available in the rbd package already. In addition, I'm going to relabel the issue so that we know the reason we're not wrapping it isn't lack of time/interest but

[2022-02-10 20:11] ansiwen opened #642 "make: api-update does not check common packages"

[2022-02-13 11:41] elrondwong opened #645 "rgw: add support for `bucket link` api"
https://docs.ceph.com/en/latest/radosgw/adminops/#link-bucket

[2022-02-14 15:45] phlogistonjohn opened #648 "Remove nautilus"
Ceph 'nautilus' support has been deprecated since v0.12.0. However we're still testing it in the CI, and have the build tags. While we don't have to go too far, we should start taking steps to remove nautilus and reduce the number of things we're actively maintaining.

[2022-02-14 15:46] phlogistonjohn opened #649 "Add ceph quincy support"
Ceph 'quincy' is due to be released in the not too distant future. The go-ceph project should being adding (pre-release?) support (CI) for quincy sooner rather than later.

[2022-02-15 23:02] BlaineEXE commented on #628
Cross-linking to related Ceph PR here for my own tracking: https://github.com/ceph/ceph/pull/44870

[2022-02-16 09:22] maksim-kharitonov opened #653 "rgw: support more rgw admin API methods"
add support of some useful methods of rgw admin API:

- get specific user's buckets with stats: [get-bucket-info](https://docs.ceph.com/en/latest/radosgw/adminops/#get-bucket-info)
- create/delete credentials: [create-key](https://docs.ceph.com/en/latest/radosgw/adminops/#create-key) [remove-key](https://docs.ceph.com/en/latest/radosgw/adminops/#remove-key)
- individual bucket quota support [set-q

[2022-02-23 15:30] sebastianriese commented on #653
Another thing that could be tackled while one is at it, is to use `/user?list` to list users (this endpoint exists at least for newer versions of ceph), instead of using `/metadata/user` – or otherwise document the reason the latter is preferred for some arcane reason. Sadly, neither endpoint is documented.

Also related (in that it adds more rgw admin ops methods: #644 )

[2022-02-23 15:48] sebastianriese opened #656 "Mistyped rgw adminops parameters"
If found the following typing errors/inconsistencies in the adminops interface:

* The fields `User.Supended` and `User.PurgeData` are type `*int` while the API interprets them as booleans (other booleans are typed `*bool`).

* The integer parameters `QuotaSpec.MaxSizeKb` and `User.MaxBuckets` are mistyped as `*int`, while they are `int64` resp. `int32` on the rgw side. The width `*int` in will de

[2022-02-23 17:26] ansiwen commented on #569
Just had a weird timeout in CI and I wondered if that might be connected: https://github.com/ceph/go-ceph/runs/5305834328?check_suite_focus=true#step:4:1066

[2022-02-28 19:24] phlogistonjohn opened #657 "[quincy] test container: radosgw fails to start"
Applies only to ceph quincy/master.

When trying to run our ci test container with a custom build radosgw fails to start. The processes starts but never backgrounds itself "freezing" the rest of the container startup script.

Using quay.ceph.io/ceph-ci/ceph:quincy and quay.ceph.io/ceph-ci/ceph:master as bases from custom build. Example: make ci-image CEPH_VERSION=master  CEPH_TAG=master  CONTAINER

[2022-02-28 19:25] phlogistonjohn commented on #657
Logging:
[code]

[2022-02-28 19:28] phlogistonjohn commented on #657
FYI: @leseb @thotz

If this is a known issue / expected new change please let us know. If not, I may have to take this to the dev mailing list. Thanks!

[2022-03-01 06:43] thotz commented on #657
@phlogistonjohn : Even I didn't try quincy with Rook till since the offical container image is not available in `quay.io/ceph`. So I don't have much clue either. Is the logs from RGW container ?

[2022-03-01 14:32] phlogistonjohn commented on #657
Thanks for looking,

Yeah, I was trying to get a head start on some things, so I hope that that the official image might be different. The log lines pasted above are from 'radosgw' binary.

[2022-03-02 12:41] thotz commented on #657
Looks like not able to connect with mon, never seen this before

[2022-03-09 14:05] leseb commented on #657
Rook has CI running on Quincy and we don't have any issues with rgw, perhaps the script that bootstrap the cluster is doing something outdated?

[2022-03-09 15:46] phlogistonjohn commented on #657
That's helpful thanks, it very well could be something in our script isn't quite right. Since that was something you helped add @leseb can you take a look? If you don't see anything obvious, don't worry too much about it. A surface glance is fine... I'd just like another pair of eyes for now.

On the subject of quincy, where's rook getting the base images from, the quay.ceph.io repository? I still

[2022-03-10 14:12] leseb commented on #657
I'll try, I don't have much time at the moment.

Rook is using `"quay.io/ceph/daemon-base:latest-master-devel"` for Ceph's master.

[2022-03-15 02:37] #645 closed

[2022-03-17 17:47] #521 closed

[2022-03-18 18:28] phlogistonjohn commented on #657
I think I've resolved the failure to start the radosgw daemon. See the patches in #659 - it refers to a PR that updated vstart.sh. Somehow today I must have searched for the right log line, unlike the other day!

[2022-03-18 21:13] phlogistonjohn opened #660 "quincy: possible regression in ceph wrt subvolume snapshot retention"
https://tracker.ceph.com/issues/54625

Breaks TestRemoveSubVolume/retainedSnapshotsTest

It doesn't seem to be fixable on our side - based on my reading of the mgr module that is producing the error we see.  I'll wait and see what the maintainers of that code have to say wrt the ceph tracker I filed.

[2022-03-23 13:36] nixpanic commented on #628
Note that ceph/ceph-csi#2948 is an initial Ceph-CSI provisioner for NFS. It currently calls out to the `ceph` command, and will use the go-ceph implementation when ready.

[2022-03-23 13:45] phlogistonjohn commented on #628
@nixpanic the PR is blocked waiting on backports in ceph (ceph/ceph#45508). However, these changes are needed only to run without any orchestration module. If the equivalent ceph cli commands are working for your test cases now, then you should be able to start trying out the go-ceph APIs if you wish.   Ultimately, the cli commands and the go-ceph functions are using the same "endpoints" in the ce

[2022-04-06 17:56] #628 closed

[2022-04-12 01:21] wzynn opened #666 "How to cross compile go-ceph?"

[2022-04-12 13:42] #666 closed, assigned to nobody

[2022-05-02 14:14] #649 closed

[2022-05-02 14:14] #657 closed

[2022-05-02 17:35] phlogistonjohn commented on #660
The approach we were using was not needed. The code that hit the regression has been simplified, removing the call with the regression in the go-ceph tests. The ceph issue has also been fixed.

[2022-05-02 17:35] #660 closed

[2022-05-02 17:40] phlogistonjohn opened #679 "cephfs/admin: Fix TestCancelClone in quincy and pacific"
In order to merge quincy CI support, the test "TestCancelClone" was disabled on ceph quincy.
https://github.com/ceph/go-ceph/blob/e0369cdf88d1418846321ff6a49201dff9eb8514/cephfs/admin/clone_test.go#L147

We need to revisit this test failure and remove the test skip to have the test suite fully operational on quincy.

[2022-05-02 17:44] phlogistonjohn opened #680 "[quincy] rbd/admin: Fix TestMirrorSnapshotScheduleStatus"
In order to merge quincy CI support, the test "TestMirrorSnapshotScheduleStatus" was disabled on ceph quincy.
https://github.com/ceph/go-ceph/blob/68eff5d9e44ac4db539c6dc83c591cad6fbb81ff/rbd/admin/msschedule_complex_test.go#L25

We need to revisit this test failure and remove the test skip to have the test suite fully operational on quincy.

[2022-05-02 17:46] phlogistonjohn opened #681 "[quincy] rgw/admin: Fix TestBucket"
In order to merge quincy CI support, the test "TestBucket" was disabled on ceph quincy.

https://github.com/ceph/go-ceph/blob/57bbe83bef01efa0fd4517193fea85896099d5eb/rgw/admin/bucket_test.go#L21

We need to revisit this test failure and remove the test skip to have the test suite fully operational on quincy.

[2022-05-02 17:53] phlogistonjohn commented on #681
@leseb @thotz - We merged initial support for quincy but one of the RGW related tests was consistently failing. I added code to skip the test on quincy for now. I think we need someone who is familiar with RGW to help debug and either fix go-ceph or report a regression to ceph.

Right now reproducing the problem should be as easy as removing the skip line I highlighted above and re-running the tes

[2022-05-02 17:54] phlogistonjohn commented on #680
@ansiwen - any interest in looking into this one?

[2022-05-03 17:52] phlogistonjohn commented on #679
[code]

[2022-05-09 19:44] phlogistonjohn commented on #679
I filed https://tracker.ceph.com/issues/55583 to see if we can get some feedback from the cephfs team on this.

[2022-05-11 15:38] ansiwen commented on #614
I think we can close this, since we are not using castxml anymore, right?

[2022-05-19 14:09] #681 closed

[2022-05-26 08:28] nmshelke opened #695 "cephfs: Add wrapper to consume 'ceph fs volume info' command."
cephfs team is planning to add API to show information of volume.
Please find pull request regarding this: https://github.com/ceph/ceph/pull/45949

[2022-05-26 12:07] vshankar commented on #695
Command output fields are available in document - https://github.com/ceph/ceph/pull/45949/files#diff-45f83f814dee15dc10b8025029c5400a50e6c8972d5b6a795b62d62e0b278986R100

[2022-05-27 04:03] humblec commented on #611
I can work on this

[2022-05-30 10:19] Okhoshi opened #697 "Missing rados API components: function rados_set_alloc_hint"
The rados API implements function(s) below but go-ceph does not:
- rados_set_alloc_hint
- rados_set_alloc_hint2
- rados_write_op_set_alloc_hint
- rados_write_op_set_alloc_hint2

Please refer to the Ceph C API for details about the function(s) in question.

We would like to be able to use these functions, and are also willing to contribute if it can help to make these into the lib. 👍

[2022-05-31 13:27] phlogistonjohn commented on #697
That sounds good to me. Please note that most of the time foo_bar2 API calls are super-sets of the functionality of foo_bar calls in the C API. This means that for go-ceph you *usually* only need to implement the foo_bar2 version of the call.

We very much welcome contributions.  With an issue, we maintainers may have time for adding the requested feature some time in the future.  But if you contr

[2022-06-10 14:16] phlogistonjohn commented on #642
Did your recent changes fix or improve this at all?

[2022-06-10 14:34] phlogistonjohn opened #703 "CI: Test go-ceph with unreleased versions of Ceph"
As the needs of the projects that use go-ceph evolve we're finding more and more desire to implement things that are on the bleeding edge of Ceph development, rather than going back and filling in long standing gaps in the API coverage.
This means that people are requesting APIs and contributing patches for features that don't exist in released versions of ceph.  This might include a change that h

[2022-06-10 14:35] phlogistonjohn commented on #703
@ansiwen - It's long but I'd like your feedback. It's also long because I am hoping that maybe someone wants to volunteer to help with this can use it as a rough plan of action.

[2022-06-15 07:33] holidayun opened #709 "How can set a quota for a pool ？"
i use
[code]
I got error : rados: ret=-22, Invalid argument

[2022-06-15 12:37] phlogistonjohn commented on #709
Here's part of JSON dump that the ceph command uses to determine what mon commands exist:
[code]

This indicates that your examples the prefix and pool parameters look OK. However there are issues with the remaining items. First, the name of the 2nd argument is `field` and it takes a value of either `max_objects` or `max_bytes`.  Next, you appear to have embedded "shell math" in your Go code. This

[2022-06-16 02:08] holidayun commented on #709
Tank you for your answer， I use `{"prefix": "get_command_descriptions"}` got all  command
In results, set pg_num command is `{"prefix":"osd pool create", "pool": "bob", "pg_num":"10"}`
I got error : `rados: ret=-22, Invalid argument`
when i use` {"prefix":"osd pool create", "pool": "bob", "pg-num":"10"}`
No error displayed, but pg_num is not used

[2022-06-16 03:13] #709 closed

[2022-06-21 15:45] baergj commented on #569
:wave: I have an internal test that is alternating between a segv in ListObjects and this assert during a read op in GetOmapValues(). Backtrace of the latter that excludes our internals:
{noformat}
src/osdc/Objecter.cc: In function 'void Objecter::_op_submit_with_budget(Objecter::Op*, Objecter::shunique_lock&, ceph_tid_t*, int*)' thread 7f176e7ff700 time 2022-06-21 14:08:10.729831
src/osdc/Objecte

[2022-06-21 16:58] phlogistonjohn commented on #569
Thanks a whole ton for doing a bisect!
I hope it turns up something helpful. In the mean time it might help to know more about what version of ceph you build against (the libraries/packages), run against, as well as what the server is running.

Thanks again and good luck!

[2022-06-21 18:07] phlogistonjohn commented on #569
The title certainly suggests it could be relevant: "rados: free cluster runtime resources automatically"

This change was added so that when Go resources that refer to Ceph resources "go away" the Go GC will help us ensure the ceph resources are cleaned up.
This implies that your older could may have been accidentally relying on a leak. Alternatively, there could be an issue with how the cleanup w

[2022-06-21 18:11] baergj commented on #569
Yeah, I'm just starting down that path. I've confirmed that reverting this commit on top of v0.16.0 also makes the problem go away.

[2022-06-21 20:10] baergj commented on #569
I went ahead and posted a PR with this change. LMKWYT!

[2022-06-21 20:24] baergj commented on #569
If that's the case, then I would argue that go-ceph shouldn't be trying to magically clean up the Conn without the client asking it to. Either:
1. C-like memory management should be exposed to the client (which means not cleaning anything up for the the client), or
2. GC can be used, but then go-ceph should be GCing correctly and managing dependencies in the library code that GC can't see.

The co

[2022-06-21 20:38] baergj commented on #569
(And FWIW I agree that IOContext should probably never expose this field via a GetConn(); that seems like an unnecessary API to become beholden to.)

[2022-06-27 14:03] phlogistonjohn commented on #703
:+1:

We can start by updating the existing set of "untested" from PRs: #698 #691
Convert them to the new planned build tags and use them to test the dev ci jobs

[2022-06-27 17:59] phlogistonjohn opened #718 "workflow: avoid making contributors catch up with go-ceph releases"
Today, we ask our contributors to run `make api-update` to make sure new APIs are gated behind preview tags and to document these preview APIs and when we expect they'll become stable.
The script behind `make api-update` apiage.py inserts the $TAG+1  into the "added in version" and $TAG+1+2 for the "expected stable version".

If a contribution is created before a release (example v0.17.0)  but doe

[2022-06-28 14:34] phlogistonjohn opened #722 "CI: fix archival of coverage, implements, etc. results"
The CI uses the actions/upload-artifact@v2 action to capture results from CI runs. However, it appears that it has not been correctly working for implements results.  It would be good to update the CI to use the latest version of the action (v3 IIRC). Then we could fix the action to collect all artifacts for a run at once, including:
* coverage HTML
* implements API status and ceph API coverage
*

[2022-06-28 14:43] phlogistonjohn commented on #273
These have been implemented.  Stable in v0.16.0. Closing issue.

[2022-06-28 14:43] #273 closed

[2022-06-29 06:49] ansiwen commented on #569
Wow, thank you so much @baergj  for digging into this, that's very helpful!

I wouldn't call that C-like memory management, since Go doesn't have deterministic "destructors", and it is quite common for Go APIs to require to "free" a resource explicitly.

However, I agree with you, that the `Finalizer` is the root problem, and it should at least panic with a clear message, instead of silently clean

[2022-06-29 07:16] ansiwen commented on #642
Sorry, this is outdated. It has been fixed by #665. Closing.

[2022-06-29 07:16] #642 closed

[2022-06-29 07:17] ansiwen commented on #648
Conflicts with #714

[2022-06-29 08:26] ansiwen commented on #679
#724 must be reverted after fixing this.

[2022-06-29 13:25] baergj commented on #569
I meant C-like in the way that you describe, I think - no destructors, explicit cleanup. But maybe I'm missing something in your statement?

Totally valid concern, and one that I forgot to mention above. I would somewhat counter-argue that the relationship here is pretty straightforward and unlikely to change. But there could be other dependencies that appear over time (or maybe even that exist to

[2022-07-01 02:48] holidayun opened #728 "RgwUser create bucket error： SignatureDoesNotMatch"
use  following code create rgwUser
[code]
when i use this user create bucket， got error  `SignatureDoesNotMatch`

try to add caps to user，use follow code
[code]
but， when i search the use， the cap is still nil
[code]
Looking forward to your reply

[2022-07-01 03:10] #728 closed

[2022-07-01 03:11] holidayun commented on #728
fix

[2022-07-01 15:30] #569 closed

[2022-07-01 16:22] bradfitz commented on #569
Thanks all for debugging and the fix!

[2022-07-06 12:27] anoopcs9 commented on #679
adjusted issue title to reflect that it needs to be fixed(and further revert the skip) for quincy and pacific.

[2022-07-06 17:56] #697 closed

[2022-07-08 09:09] anoopcs9 commented on #618
@rakeshgm

Can you please check whether DNS is enabled for newtork `test_ceph_net` as follows?
[code]

If not this might suggest that CNI plugin **dnsname** is absent which is required for `podman` to setup the use of _dnsmasq_ on a CNI network to resolve each other by name. Try installing **_podman-plugins_** on CentOS to get **dnsname** CNI plugin. Afterwards you can verify by creating a test ne

[2022-07-11 10:27] ansiwen commented on #592
Preview APIs don't have docs and deprecated APIs should not be used, so I would vote for not doing that.

[2022-07-11 14:03] phlogistonjohn commented on #592
At one point I was looking into how we could generate our own static docs and use that to supplement the online docs. Unfortunately, while there is some existing tooling to do so it appeared unmaintained and there doesn't seem to be a lot of interest in that approach currently.

That said I haven't completely given up on the idea.

[2022-07-11 14:07] phlogistonjohn commented on #592
I'm OK with closing the issue. Issue #601 tracks the problem with the preview tags/apis, as well as some of my previous comments about static generation.  If #601 is ever solved *then* we can revisit the idea (or just combine them?).

[2022-07-12 05:55] anoopcs9 commented on #592
I second that.

Hm.. let's just close it for now.

[2022-07-12 13:04] #592 closed

[2022-07-19 08:35] dmlambea opened #739 "rados: calling Append for the second time on EC pools may fail with error "-95: Not Supported""
Erasure-coded pools require the Appends to be aligned to the stripe size. Otherwise, the second call to Append fails with the error "-95: Operation not supported".

There is a function in the API called `rados_ioctx_pool_required_alignment2` which can be used to know the stripe size in bytes, but currently there is no implementation in go-ceph for this call. Therefore, clients must know this value

[2022-07-19 17:43] anoopcs9 opened #741 "libcephfs change in `statx` flags causes failure in running tests"
While trying to run our test suite(`make test-containers-test`) against pre-release version of quincy following failure was seen:
[code]

With https://github.com/ceph/ceph/pull/45844, `statx` flag in question no longer exists and causes the above mentioned failure. Backport for pacific is also merged.

[2022-07-19 17:47] phlogistonjohn commented on #741
Filed an issue at ceph: https://tracker.ceph.com/issues/56638

I'd prefer to fix this in ceph as it may impact other projects using libcephfs. If the cephfs team chooses not to see this as an issue needing a fix we'll have to work around it with build tags, but I hope they agree to fix this in ceph first.

[2022-07-20 01:33] lxbsz commented on #741
This sounds good to me and I will raise one PR to fix it.

[2022-07-20 13:55] phlogistonjohn commented on #741
https://github.com/ceph/ceph/pull/47182 <-- ceph PR.
thanks a bunch @lxbsz !

[2022-07-22 07:26] holidayun opened #744 "connect with ReadConfigFile get error ： ret=-13, Permission denied"
my code
[code]

There is a file of ceph.conf in /home/config, like this

[code]

when i run code in ceph's master host, connect success
but when i run in  other host，such as 111.111.22.888， got error： ret=-13, Permission denied
Looking forward to your answer

[2022-07-22 14:05] phlogistonjohn commented on #744
I'm not sure if you meant to anonymize the fsid, but you didn't do it in all places, JFYI.

Without knowing more about the network this might be a tough one to diagnose. My suggestion would be to edit your conf file to enable more logging from the ceph libs and see what they may be hinting at.
You can read the last part of [my old blog post here](http://asynchrono.us/how-i-work-on-go-ceph.html)  f

[2022-07-24 15:25] anoopcs9 commented on #618
I could reproduce the issue and can confirm that the absence of CNI plugin is the root cause for failure seen in name resolution. Therefore closing the issue. Feel free to open new one in case of further issues.

[2022-07-24 15:25] #618 closed

[2022-07-25 17:14] phlogistonjohn commented on #598
This looks like something that may now be available in quincy.  Someone may want to take a look and investigate that.

[2022-07-25 17:15] phlogistonjohn commented on #589
AFAIR, implements now only cares about `ceph_preview` build tags. The old PREVIEW comment line is no longer used.

[2022-07-25 17:15] #589 closed

[2022-07-26 05:57] #739 closed

[2022-07-28 06:34] ansiwen commented on #741
I don't see, how this is a fix for us? I mean, sure, it doesn't break anymore _right now_, but it is still deprecated and will be removed eventually. If this is earlier than when we remove nautilus (which we just introduced new stuff for) we still need to handle both cases simultaneously. So I would rather suggest that we also deprecate `AtNoAttrSync`, replace it with `AtStatxDontSync`, and add so

[2022-08-01 17:04] #741 closed

[2022-08-01 18:13] #653 closed

[2022-08-02 05:30] #722 closed

[2022-08-02 06:21] holidayun commented on #744
When connecting the ceph cluster, do not need to transfer "ceph. Client. Admin. The keyring" file?

[2022-08-02 06:43] holidayun commented on #744
Problem solved。
frist：  conn.ReadConfigFile(configPath)
second： conn.ReadConfigFile(keyringPath)
Thank you for your answer~~

[2022-08-02 06:43] #744 closed

[2022-08-02 12:38] #703 closed

[2022-08-02 14:51] phlogistonjohn opened #752 "Remove ceph_pre_quincy tags from cephfs/admin metadata and snap metadata apis"
Once the following changes are available in a quincy (or earlier?) **release**.

https://tracker.ceph.com/issues/54472
https://tracker.ceph.com/issues/55401

[2022-08-08 10:35] #718 closed

[2022-08-09 07:15] anoopcs9 opened #754 "`make check` fails in CI"
Latest [release](https://github.com/mgechev/revive/releases/tag/v1.2.2) for `revive` [increased](https://github.com/mgechev/revive/pull/694) the confidence value for _package-comments_ rule from **0.2** to **1** resulting in `check-revive` failure.
[code]

[2022-08-09 07:18] anoopcs9 commented on #754
Options going forward:

* Restrict `revive` @ v1.2.1
* Raise confidence value above `1.0`
* Reduce severity for `[rule.package-comments]`
* Remove `[rule.package-comments]`

[2022-08-10 06:22] anoopcs9 commented on #754
Possible but then I realized that we have `$(find . -name '*.go')` in Makefile for `check-revive`. How about using `go list ./...` instead?
[code]
[code]

[2022-08-10 06:31] anoopcs9 commented on #754
just saw https://github.com/ceph/go-ceph/pull/640 🙄

[2022-08-10 13:42] phlogistonjohn commented on #754
I'm assigning it to myself. Later today I'll add package level doc comments for the packages that don't have them.

[2022-08-10 13:58] phlogistonjohn commented on #754
Now that I'm looking more deeply at it, it seems to be failing to detect package comments that do exist. I tried tweaking the comment formatting but that didn't help.

I'm thinking about filing an issue with revive. We may need one of those workarounds in the short term.

[2022-08-10 14:13] phlogistonjohn commented on #754
While going through the checklist for revive's issue submissions I noticed our github action for running make check was using an old version of Go. Investigating that in case that is helping cause some of the false positives.

[2022-08-10 18:06] phlogistonjohn commented on #754
So I think I went through all the steps you did in a 2nd loop. I decided that this check is now more trouble than it's worth and have disabled it.  See the linked PR.

If in the future revive grew options for setting build tags (https://github.com/mgechev/revive/issues/230  -- currently revive's oldest open issue :-) )  we could reconsider this and pass package dirs on the command line rather than

[2022-08-11 07:57] anoopcs9 commented on #754
I agree. Thanks for going through the details.

[2022-08-12 05:53] #754 closed

[2022-08-12 08:02] #595 closed

[2022-08-16 12:14] amirhaa opened #758 "uid is missing from usage type in GetUsage method"
``uid`` is marked as valid params but it is missing from ``Usage`` struct type.

https://github.com/ceph/go-ceph/blob/9d74c3c2b1a08ad171d14bb78cc59273434030e3/rgw/admin/usage.go#L54

https://github.com/ceph/go-ceph/blob/9d74c3c2b1a08ad171d14bb78cc59273434030e3/rgw/admin/usage.go#L11-L49

[2022-08-16 13:52] phlogistonjohn commented on #758
CC: @thotz  @leseb

[2022-08-17 04:43] thotz commented on #758
@amirhaa: It is definitely a bug, IMO API was written to collect the total objectstore usage than the individual user, but passed uid in the request.  We modify the `usage` struct and `GetUsage()` API to support both use cases or only the object store. In the later case, may need to add new API for individual use cases.

[2022-08-22 14:32] phlogistonjohn opened #760 "apiage: add a mode for detecting changed build tags and updating api stablity"
Currently, apiage can add new APIs to the status json based on the build tags. When the apis are maturing to stable we want to automatically detect and report this (see #591 ).  One additional mode that would be useful is to move apis from preview to stable when the build tags are updated. Basically this mode can look at the "live" JSON and rather than emit warnings/errors it can remove the previe

[2022-08-23 13:33] phlogistonjohn commented on #679
Backport PRs:
* https://github.com/ceph/ceph/pull/47747
* https://github.com/ceph/ceph/pull/47748

[2022-08-23 14:22] phlogistonjohn commented on #611
Hi, @humblec I was going through some older issues and saw this. I was looking for some things for @anoopcs9 to look into - and this seemed like a good candidate. But I just want to double check that you weren't already working on it first. Thanks!

[2022-08-29 13:27] phlogistonjohn commented on #648
Specially see: https://github.com/ceph/go-ceph/pull/714#issuecomment-1169978284

Note to self & other maintainers: Ping the contributors from Digital Ocean about their progress upgrading from nautilus some time early in 2023 (Jan/Feb) to see if we can get a timeline on when go-ceph can remove nautilus support.

[2022-09-06 14:07] phlogistonjohn opened #764 "Support nfs sectype option"
https://tracker.ceph.com/issues/57404

Once the feature is available the CephFSExportSpec can be expanded to include a SecType field for specifying the security type(s) of the export.

[2022-09-08 03:31] holidayun opened #766 "MonCommand How to send command : ceph tell osd.* injectargs '--osd-max-backfills 1"
Find:
[code]
my code
`map[string]interface{"prefix":"tell","target":"osd.*","args":"injectargs '--osd-max-backfills 1'"})`
got error
` rados: ret=-22, Invalid argument`

thank you for you answer~

[2022-09-08 13:03] phlogistonjohn commented on #766
I have not tried this at all, but I think the "n": "N" flag indicates that there are multiple arguments - an array in json parlance. Try breaking your "args" into multiple arguments (in a slice) like "args": []string{"foo", "bar", "baz"}.  Unfortunately, I am not sure where the breaks should be for injectargs, you may want to try a few different ways.
If that doesn't work please let us know and I

[2022-09-09 08:35] holidayun commented on #766
thank you for your replay ~

`map[string]interface{}{"prefix": "tell","target":"osd.*", "args": []string{"injectargs","--osd-max-backfills 1"}}`
`map[string]interface{}{"prefix": "tell","target":"osd.*", "args": []string{"injectargs","--osd-max-backfills", "1"}})`
`map[string]interface{}{"prefix": "tell","target":"osd.*", "args": []string{"injectargs","osd-max-backfills", "1"}})`
`map[string]inter

[2022-09-12 14:26] #760 closed

[2022-09-27 14:21] phlogistonjohn commented on #679
https://github.com/ceph/ceph/pull/47112

[2022-10-12 09:27] holidayun commented on #766
MonCommand How to send command : ceph tell osd.* injectargs '--osd-max-backfills 1

[2022-10-12 12:24] phlogistonjohn commented on #766
Hi, I'd like to help more but unfortunately I'm not quite sure what the issue is. I have little direct experience with injectargs command.  What I suggest is to try and instrument the python code of the `ceph` command such that you can see exactly what structure the `ceph` command is constructing when it issues the command to the ceph server.

In addition to the above, try looking at the mon logs

[2022-10-12 13:40] #764 closed

[2022-10-14 03:57] ycsong1212 opened #771 "Build failure calling rados connect function"
Hello, I am working on a project supporting ceph storage. Now I am trying to write a unit-test to validate the usability of ceph api using go-ceph repository. However, I failed to compile the project. It tells me that
    undefined: rados.NewConn

It seems good in my Goland but I cannot compile it. This issue seems similar to https://github.com/ceph/go-ceph/issues/23. However, I tried to follow th

[2022-10-14 13:43] phlogistonjohn commented on #771
Note: I edited your comment to just enable word-wrap.

[2022-10-14 13:51] phlogistonjohn commented on #771
So,  I'll try to help as I can but please be aware that our ability to help with any editor/IDE specific topics will probably be limited.

Next, I'm not sure where CMake/CMakeList comes into this picture. Normally, I'd expect to see (recent) Go codebases using go modules. In that case you'd have something like go.mod and go.sum in your repo.  Now, you may be wrapping or combing go with other stuff

[2022-10-17 02:37] ycsong1212 commented on #771
I am sure I have done ''go get" & "go mod tidy". If not, it is impossible to see it normally on my IDE. However, I failed to "go build" due to the issue I have reported. As is mentioned in issue #23, it seems that someone meet the similar issue. And at there someone said I need to change the CMakeList file in origin ceph repository https://github.com/ceph/ceph, but the function mentioned in issue

[2022-10-17 11:02] ansiwen commented on #771
Several things are getting mixed up here, I think:

1. the error you see is an error about a missing go function, so it has nothing to do with librados.

2. if you deal with Cmake, then you are trying to compile _ceph_, and not go-ceph. (librados, librbd, etc.) If you need help with that, you need to ask in the ceph project, because we never do that. We always use the precompiled ceph-libraries fr

[2022-10-18 14:19] phlogistonjohn opened #777 "Deprecate octopus"
We should formally deprecate octopus for the v0.19 release. it should already be EOLed at ceph upstream.

[2022-10-24 02:36] ycsong1212 commented on #771
I've already worked it out. I missed CGO_ENABLED flag to compile, thanks a lot.

[2022-10-24 02:36] #771 closed

[2022-10-30 16:38] aarononeal opened #779 "Failed to list images in trash blocks PV cleanup"
Storage operations in my cluster are failing due to the CSI provisioner being unable to process deletes due to an error listing images in the trash:

`E1030 16:03:23.233045       1 rbd_util.go:600] ID: … Req-ID: … failed to list images in trash: rbd: ret=-34, Numerical result out of range`

As far as I can tell, this is due to this line of code:

https://github.com/ceph/go-ceph/blob/4f5281df0f901f

[2022-10-30 16:55] aarononeal commented on #779
Digging a little further, this is because the underlying `librbd` call will always return `-ERANGE` until a large enough size is passed.

https://github.com/ceph/ceph/blob/0bb4bf67c24b4c3a81fae545ab857a193586a05e/src/librbd/librbd.cc#L4039

It seems like a much larger size limit than `1024` needs to be passed here, if it needs to be limited at all.

[2022-10-31 13:58] phlogistonjohn commented on #779
Thanks for the report. The rationale behind having a limit is that an exceeded limit is much easier to find and debug versus a "hung" application that stuck allocating very large amounts of memory. That said we will look into increasing the limit and perhaps allowing the caller to specify the limit the way the lower level ceph api does.

[2022-11-14 21:43] aarononeal commented on #779
Note that adding cache tiers exacerbates this problem since the image shows up for each cache tier pool (multiplying the count). It would be very helpful to have an orders of magnitude higher limit. It has taken 2 weeks to purge the trash and restore my cluster to a working state. Can we get a short-term fix by increasing the limit `10x` while a more configurable solution is contemplated?

[2022-11-15 16:26] phlogistonjohn commented on #779
Sure. Will do.

[2022-11-16 03:07] haroldHT opened #790 "rados: memory increase"
version: v0.18.0
build: go1.19.2
ceph:14.2.8

Memory increase!
![image](https://user-images.githubusercontent.com/13550119/202074107-7449159d-4258-4917-aeef-89f4cdeaffa5.png)

I write a demo like:
[code]

Anyone can help?

[2022-11-16 15:13] phlogistonjohn commented on #790
I'm afraid you are going to have to be much more specific in order to get help.   The example code is not clear to me - especially what the goal is. Can you please restate your problem as a question, with details about what you are trying to accomplish and what's going wrong, along with as simple a reproducer as you can provide? Thanks!

[2022-11-27 00:25] #766 closed

[2022-11-30 09:21] haroldHT commented on #790
@phlogistonjohn  thank you for ur reply, I using https://github.com/digitalocean/ceph_exporter to collect ceph infomation. When I trigger the collector each time, the memory increases a little until it reaches a relatively large value. I was puzzled as to why the memory with go-ceph kept not reclaiming it, and checked the resident threads, which printed the following:

futex(0xc006ea0d48, FUTEX_WA

[2022-11-30 15:46] phlogistonjohn commented on #790
That strace output is probably not going to be very useful, I'm afraid. strace is handy for finding system call related error conditions and stuff like that but I've never found it useful for memory allocation debugging.

I recommend looking into memory profiling. Specifically heap profiling as outlined in a few of these links:
* https://medium.com/compass-true-north/memory-profiling-a-go-service-